* {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  body {
    background: #242424;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    canvas {
      box-shadow: 0.2em 0.2em 2em #0008;
      border: none;
      outline: none;
    }
  }